# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Expo
.expo/
dist/
web-build/
*.log

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.profile

# Android
android/app/build/
android/app/release/
android/app/debug/
android/local.properties
android/gradle.properties

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
*.xcworkspace
xcuserdata/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Build
build/
*.tgz

# Misc
*.pem
.vercel
.netlify